@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #E5D2C4 ;
}
.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-radius: 6px 6px;
}
h1{
    text-align: center;
    padding-top: 10px;
    font-family: 'Combo', cursive;
    color:black;
}
.column {
    float: left;
    width: 33.3%;
    padding: 15px;
    height: 250px;
    border-radius: 5px 5px;
  }
  .row:after{
    content: "";
    display: table;
    clear: both;
  }
  p{
    font-family: 'Combo', cursive;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
  }
  div{
    padding-top: 10px;
  }